<form action='upload/'  enctype='multipart/form-data' method='POST'>
<input type='file' name='htmlfile' size='40'/>
<input type='submit' style='"width:20px; height:10px;font-size:8px;' value='Print' />
<input type='hidden' name='callbackurl' value='http://localhost:8000/static/'>
</form>
<form action="download/"   enctype='multipart/form-data' method='GET'>
<input type='text' name='pdffile' size='40'/>
<input type='submit' style='"width:20px; height:10px;font-size:8px;' value='Download' />
</form>
